In [1]:
print("Hello World")

Hello World

In [5]:
x=2
y=3

In [6]:
x + y

5

In [7]:
x - y

-1

In [10]:
print(x + y)
x - y

5

-1

In [13]:
mynums = [1, 2, 3, 4, 5]
mynums

[1, 2, 3, 4, 5]

In [14]:
for n in mynums:
    print(n+1)

2
3
4
5
6

In [15]:
import pandas as pd

In [16]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  4
4  5

In [18]:
mynums.sort(reverse=False)
mynums

[1, 2, 3, 4, 5]

`This is monospace.`

In [20]:
<br>

SyntaxError: invalid syntax (3271659196.py, line 1)